/*first css (trying to make spaceX website) in early 2021 - drishya*/
*{
    margin: 0px;
    padding: 0 px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode";
}
body{
    margin: 0px;
}
.image{
     background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(turk1.jpg);
  height:698px;
    width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
    overflow-y: auto;
}

    ul{
    float: right;
    margin-top: 50px;
    
}
ul li{
    display: inline-block;
}
ul li a{
    
    text-decoration: inherit;
    color: white;
    padding: 5px 20px;
    border: 1px solid transparent #fff;
    transition: 0.6s ease;

}
ul li a:hover{
    background-color: white;
    color: black;
}
.logo img{
       float: left;
    width: 250px;
    height: 40px;
    padding-top: 30px;
    padding-left: 20px;
   
}

.main{
    top:15px;
    left:1px;
    right:10px;
    /* max-width: 1200px;
    margin: auto;*/
    
}
.title{
    position: absolute;
    top: 45%;
    left: 60%;
}
.title h3{
    color: white;
  ;
}
.title h1{
    color: white;
  
}
.button{
     position: absolute;
    top: 58%;
    left: 60%;
}
.btn{
    border: 1px solid #fff; 
    padding: 10px 30px;
    color: white;
    text-decoration: inherit;
      transition: 0.6s ease;
    }
.btn:hover{
     background-color: white;
    color: black;
}
.image2{
     background: url(dragon3.png);
  height:698px;
    width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
    overflow-y: auto;
}
.title2{
    position: absolute;
    top: 42%;
    left: 10%;
}
.title2 h3{
    color: white;
  ;
}
.title2 h1{
    color: white;
  
}
.button2{
     position: absolute;
    top: 65%;
    left: 10%;
}
.btn2{
    border: 1px solid #fff; 
    padding: 10px 30px;
    color: white;
    text-decoration: inherit;
      transition: 0.6s ease;
    }
.btn2:hover{
     background-color: white;
    color: black;
}

.image3{
     background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),  url(starship.jpg);
  height:698px;
    width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
    overflow-y: auto;
}
.title3{
    position: absolute;
    top: 22%;
    left: 5%;
}
.title3 h1{
    color: white;
  ;
}
.title3 h4{
    max-width: 40%;
    font-weight: 100;
    color: white;
  
}
.button3{
     position: absolute;
    top: 50%;
    left: 5%;
}
.btn3{
    border: 1px solid #fff; 
    padding: 10px 30px;
    color: white;
    text-decoration: inherit;
      transition: 0.6s ease;
    }
.btn3:hover{
     background-color: white;
    color: black;
}
.image4{
     background: url(lunar.jpg);
  height:698px;
    width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
    overflow-y: auto;
}
.title4{
    position: absolute;
    top: 32%;
    left: 60%;
}
.title4 h3{
    color: white;
}
.title4 h1{
    color: white;
  ;
}
.title4 h4{
    max-width: 60%;
    font-weight: 100;
    color: white;
  
}
.button4{
     position: absolute;
    top: 70%;
    left: 60%;
}
.btn4{
    border: 1px solid #fff; 
    padding: 10px 30px;
    color: white;
    text-decoration: inherit;
      transition: 0.6s ease;
    }
.btn4:hover{
     background-color: white;
    color: black;
}
/*footer------!!!!!*/

.footer{
    background-color: black;
    height: 120px;
    width: 100%;
    background-attachment: fixed;
    overflow-y: auto;
    overflow-x:hidden;
    position: relative;
    
}
.footer-2 img{
    
    clear: both;
      width: 200px;
    height: 50px;
    float: right;
    margin-right: 40px;
    margin-top: 30px;
}
  
.footer-left li{
    
    white-space: nowrap;
    font-family: Copperplate;
    display: inline-block;
       clear: right;
    line-height: 1px;
    color: white;
   margin-top: 5px;
    margin-left: 80px;
    cursor: pointer;
     list-style-type:none;
    
    
}


.footer .left{
    background-color:aliceblue;
    color: black;
    height: 20px;
     width: 100%;
    text-align: center;
    position: absolute;
    left: 0px;
    bottom: 2px;
    padding-top: 10px;
}